@import "tailwindcss";



/* Apply fallback colors for PDF export */
.force-safe-colors * {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  box-shadow: none !important;
  text-shadow: none !important;
  --tw-bg-opacity: 1 !important;
}


